<!DOCTYPE html>
<html lang="en">
<head>
        <title>Rememberly</title>

	<script language="text/javascript">
		function getText() {
			var text = '<%= Session["inputText"] %>';
			alert(text);
		}
		var tester = "Test String"
		document.getElementById("text").innerHTML = tester
	</script>
</head>
<body>
        <h1 style="text-align:center">Rememberly</h1>

        <h2 style="text-align:center">What is Rememberly?</h2>
        <P style="text-align:center"> Blurb about our product. We will write a whole paragraph of nonsense here. It'll be great!

        <h2 style="text-align:center">Text to Analyze</h2>
        <P style="text-align:center"> {{ inputText }}
</body>
</html>
